.header_right {
	text-align:right;
}
input.header_button  {
  border-bottom-color: #76B4DD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #76B4DD;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #76B4DD;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 1px;
  border-top-color: #76B4DD;
  border-top-style: solid;
  border-top-width: 1px;
  color: #396EA2;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}